		body{
			background-color: #ebeff5;
		}


		#total-donors{
			background-color: #056674;
		}


		#total-hospitals{
			background-color: #056674;
		}

		#requests-pending{
			background-color: #056674;
		}



