{% extends 'accounts/main.html'%}

{%block content%}

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>My Hospital Profile</h5>
			<hr>
			<p>Hospital ID: {{hospital.hid}}</p>
			<p>Hospital Name: {{hospital.hname}}</p>
			<p>Email: {{hospital.hemail}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<br>
			<hr>
			<p>Phone: {{hospital.hphone}}</p>
			<p>Address: {{hospital.haddress}}</p>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
		    <a class="btn btn-primary  btn-sm btn-block" href="{% url 'update_hospital_profile' hospital.hid %}">Edit My Profile</a>
		</div>
	</div>
	
</div>
<br>


{%endblock%}