{% extends 'accounts/main.html'%}

{%block content%}

<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>All Requests Data</h5>
				</div>	
				<div class="card card-body">
					<form method="get">
					{{myfilter.form}}
			    	<button class="btn btn-primary" type="submit">Search</button>
			  	</form>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>ID</th>
							<th>Hospital Name</th>
							<th>Blood Group</th>
							<th>Quantity(ml)</th>
							<th>Received On</th>
							<th>Comments</th>
							<th>Status</th>
							<th>Update</th>
							<th>Delete</th>
						</tr>

						{% for i in requests %}
						<tr>	
						<td>{{i.rid}}</td>
						<td>{{i.hospital.hname}}</td>
						<td>{{i.bloodgroup}}</td>
						<td>{{i.amount}}</td>
						<td>{{i.reqdate}}</td>
						<td>{{i.comments}}</td>
						<td>{{i.status}}</td>
						<td><a class="btn btn-sm btn-info"href="{% url 'update_request' i.rid %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger"href="{% url 'delete_request' i.rid %}">Delete</a></td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			
		</div>

{%endblock%}