<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-donors">
			  	<div class="card-header">
			  		<h5 class="card-title">Donors</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{tdonor}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-hospitals">
			  	<div class="card-header">
			  		<h5 class="card-title">Hospitals</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{thospital}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="requests-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Requests Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{tprequest}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>