
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-donations">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Donation Count</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{cdonation}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="accepted">
			  	<div class="card-header">
			  		<h5 class="card-title">Donation Accepted</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{adonation}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="rejected">
			  	<div class="card-header">
			  		<h5 class="card-title">Donation Rejected</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{rdonation}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>