<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-requests">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Requests</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{crequest}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="requests-fulfilled">
			  	<div class="card-header">
			  		<h5 class="card-title">Requests Fulfilled</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{frequest}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="request-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Requests Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{prequest}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>